* {
    background-color: rgba(128, 128, 128, 0.957);
}

#title {
    color: rgba(249, 249, 249, 0.796);
    font-size: 28px;
    background-color: mediumaquamarine;
    margin: 15px auto;
    padding: 20px 30px;
}

.recipe,
a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: mediumaquamarine;
}
