h1 {
    text-align: center;
    color: rgb(228, 128, 35);
    font-size: 28px;
    background-color: purple;
}

.recipe {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: purple;
}