body {
    background-color: #7fffd4;
    color: hsl(340, 100%, 60%);
}

h1 {
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding: 12px;
    margin: 0px auto;
}

img {
    display: inline;
    margin-top: 0px;
    height: 30%;
    width: 100%;
}

#description {
    font-size: 28px;
}

p {
    font-size: 18px;
}

#ingredients {
    font-size: 24px;
}

li {
    font-size: 20px;
}

#steps {
    font-size: 24px;
}